body{
    background-color: #a9a9a9;
}

h1, li, nav a{
    color: white;
    list-style-type: none;
}

body > header > h1, body > footer, nav{
    text-align: center;
}

body > footer{
    font-size: 1.2em;
    
}

nav li{
    font-size: 1.5em;
}

article footer *{
    font-size: 12px;
    color: black;
    text-decoration: none;
}

a:hover{
  text-decoration: underline;
}