<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BuddyChat.Data.Connection"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BuddyChat.Data.Connection.Cloud"
         connectionString="mongodb://chatuser:ugEvp1JUoLd#XIokYPQiIxxTPbO$IN25OMi73wEIOJz9B*EHU&amp;K1hODC@ds035250.mongolab.com:35250/buddychat" />
  </connectionStrings>
  <applicationSettings>
    <BuddyChat.Data.Connection>
      <setting name="Database" serializeAs="String">
        <value>buddychat</value>
      </setting>
      <setting name="TimeZone" serializeAs="String">
        <value>2</value>
      </setting>
    </BuddyChat.Data.Connection>
  </applicationSettings>
</configuration>