<div ng-controller="HomeController">
    <h1>Home</h1>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form name="userLoginForm" class="form-horizontal">
                <fieldset>
                    <legend>You are logged in as: {{userSession.nickname}}</legend>
                </fieldset>
                <div class="pull-right">
                    <button class="btn btn-default"
                            ng-click="logout()">Logout
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div id="message-box"></div>
</div>