html,
header,
nav,
body,
h1,
h2,
h3,
ol,
dl,
dd,
dt,
li,
ul,
span,
a,
p,
img,
fieldset,
button,
form,
input,
legend,
footer,
aside,
tr,
td,
table,
th,
thead {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
body #wrapper {
  width: 960px;
}
body #wrapper > div {
  margin: 15px;
  border-radius: 5px;
  background: #cccccc;
  padding: 10px;
  width: 680px;
  overflow: hidden;
}
body #wrapper > div div.holder {
  float: left;
}
body #wrapper > div div.holder img {
  width: 550px;
  border-radius: 5px;
}
body #wrapper > div div.playlist {
  display: inline-block;
}
body #wrapper > div div.playlist ul {
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}
body #wrapper > div div.playlist ul li {
  padding: 5px 2px 5px 8px;
  border-bottom: 1px solid black;
  list-style: none;
}
body #wrapper > div div.playlist ul li span {
  display: block;
  margin-top: -5px;
}
body #wrapper > div div.playlist ul li img {
  border-radius: 10px;
}
body #wrapper > div div.playlist ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
body #wrapper > div div.playlist ul li a:hover {
  text-decoration: underline;
}
