table {
    border: 2px solid;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 2px 2px 2px 2px;
}

td {
    border: 2px solid;
    padding: 2px 2px 2px 2px;
}

th {
    border: 2px solid;
    padding: 4px 4px 4px 4px;
}