<div id="createPostTemplate">
    <h1>Sent Posts</h1>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form name="userLoginForm">
                <div class="pull-right">
                    <label for="tb-post-title">Post title: </label>
                    <input id="tb-post-title">
                    <label for="ta-post-body">Post content: </label><textarea id="ta-post-body"></textarea>
                    <button class="btn btn-default" id="btn-send-post">Send Post
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div id="message-box"></div>
</div>