body,
thead,
tr,
td,
th,
tbody,
div {
  padding: 0;
  margin: 0;
}
body {
  padding: 15px;
}
body table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}
body table td,
body table th {
  border: 1px solid black;
  padding: 3px;
}
body table thead {
  background-color: #acacac;
  color: white;
}
body table tbody tr:nth-of-type(even) {
  background-color: #ededed;
}
