/* Reset All  */
html,
header,
nav,
body,
h1,
h2,
h3,
ol,
dl,
dd,
dt,
li,
ul,
a,
p,
img,
fieldset,
button,
form,
input,
footer,
aside,
tr,
td,
table,
th,
thead {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
body {
  font-size: 18px;
  padding: 50px;
}
body div#wrapper {
  width: 960px;
  text-align: center;
}
body div#wrapper li:not(.current) div.accordion-content {
  display: none;
}
body div#wrapper div.accordion-content {
  text-align: left;
  padding: 5px 15px;
  color: #444444;
}
body div#wrapper div.accordion-content h1 {
  text-align: center;
  color: #5e5e5e;
  font-size: 1.8rem;
  padding: 5px;
}
body div#wrapper div.accordion-content p {
  text-align: justify;
}
body div#wrapper div.accordion-content table {
  margin: 15px 5px 15px 6px;
  border: 1px solid black;
  border-collapse: collapse;
}
body div#wrapper div.accordion-content table tr:nth-of-type(odd) {
  background: #cbcbcb;
  background: -moz-linear-gradient(top, #cbcbcb 0%, #898989 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbcbcb), color-stop(100%, #898989));
  background: -webkit-linear-gradient(top, #cbcbcb 0%, #898989 100%);
  background: -o-linear-gradient(top, #cbcbcb 0%, #898989 100%);
  background: -ms-linear-gradient(top, #cbcbcb 0%, #898989 100%);
  background: linear-gradient(to bottom, #cbcbcb 0%, #898989 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbcbcb', endColorstr='#898989', GradientType=0);
}
body div#wrapper div.accordion-content table tr:nth-of-type(even) {
  background: #898989;
  background: -moz-linear-gradient(top, #898989 0%, #cbcbcb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #898989), color-stop(100%, #cbcbcb));
  background: -webkit-linear-gradient(top, #898989 0%, #cbcbcb 100%);
  background: -o-linear-gradient(top, #898989 0%, #cbcbcb 100%);
  background: -ms-linear-gradient(top, #898989 0%, #cbcbcb 100%);
  background: linear-gradient(to bottom, #898989 0%, #cbcbcb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#898989', endColorstr='#cbcbcb', GradientType=0);
}
body div#wrapper div.accordion-content table td {
  border: 1px solid black;
  font-size: 1.1REM;
  color: white;
  padding: 5px;
}
body div#wrapper div.accordion-content table th {
  border: 1px solid black;
  padding: 5px;
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #898989 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #898989));
  background: -webkit-linear-gradient(top, #ececec 0%, #898989 100%);
  background: -o-linear-gradient(top, #ececec 0%, #898989 100%);
  background: -ms-linear-gradient(top, #ececec 0%, #898989 100%);
  background: linear-gradient(to bottom, #ececec 0%, #898989 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#898989', GradientType=0);
}
body div#wrapper div.accordion-content table th:first-of-type {
  border-top-left-radius: 15px;
}
body div#wrapper ul.accordion {
  width: 400px;
}
body div#wrapper ul.accordion li {
  background-color: #aaaaaa;
  position: relative;
  list-style-type: none;
  border: 1px solid black;
}
body div#wrapper ul.accordion li a {
  font-size: 1.3em;
  font-weight: bolder;
  text-decoration: none;
  color: #212121;
  display: block;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 22%, #ebebeb 26%, #acacac 74%, #aaaaaa 78%, #aaaaaa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(22%, #eeeeee), color-stop(26%, #ebebeb), color-stop(74%, #acacac), color-stop(78%, #aaaaaa), color-stop(100%, #aaaaaa));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #eeeeee 22%, #ebebeb 26%, #acacac 74%, #aaaaaa 78%, #aaaaaa 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #eeeeee 22%, #ebebeb 26%, #acacac 74%, #aaaaaa 78%, #aaaaaa 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #eeeeee 22%, #ebebeb 26%, #acacac 74%, #aaaaaa 78%, #aaaaaa 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #eeeeee 22%, #ebebeb 26%, #acacac 74%, #aaaaaa 78%, #aaaaaa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#aaaaaa', GradientType=0);
}
body div#wrapper ul.accordion li a:hover {
  background: #aaaaaa;
}
body div#wrapper ul.accordion li ul {
  display: none;
}
