html,
header,
nav,
body,
h1,
h2,
h3,
ol,
dl,
dd,
dt,
li,
ul,
a,
p,
img,
fieldset,
button,
form,
input,
legend,
footer,
aside,
tr,
td,
table,
th,
thead {
  margin: 0;
  padding: 0;
}
/* ClearFix */
div#wrapper div:nth-of-type(1) hgroup {
  background: url('imgs/install.png') no-repeat;
}
div#wrapper div:nth-of-type(2) hgroup {
  background: url('imgs/tuneUp.png') no-repeat;
}
div#wrapper div:nth-of-type(3) hgroup {
  background: url('imgs/manage.png') no-repeat;
}
div#wrapper div:nth-of-type(4) hgroup {
  background: url('imgs/openSource.png') no-repeat;
}
div#wrapper div:nth-of-type(5) hgroup {
  background: url('imgs/twitter.png') no-repeat;
}
div#wrapper div:nth-of-type(6) hgroup {
  background: url('imgs/about.png') no-repeat;
}
body {
  font-size: 16px;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
body #wrapper {
  width: 960px;
  margin: 20px;
  overflow: hidden;
}
body #wrapper > div {
  float: left;
  width: 140px;
  border-top: 2px solid #d3d7da;
  border-bottom: 2px solid #d3d7da;
  padding: 10px 4px 0px 4px;
}
body #wrapper > div .yellowBox {
  border: 1px solid #ffff00;
  background: #ffffdd;
}
body #wrapper > div .yellowBox a {
  display: inline;
}
body #wrapper > div:nth-of-type(even) {
  height: 270px;
  border-right: 2px solid #d3d7da;
  border-left: 2px solid #d3d7da;
  background: #F1F2F3;
  background: -moz-linear-gradient(top, #ffffff 20%, #f1f2f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #ffffff), color-stop(100%, #f1f2f3));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f1f2f3 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f1f2f3 100%);
  background: -ms-linear-gradient(top, #ffffff 20%, #f1f2f3 100%);
  background: linear-gradient(to bottom, #ffffff 20%, #f1f2f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F1F2F3', GradientType=0);
}
body #wrapper > div:nth-of-type(1) {
  border-left: 2px solid #d3d7da;
}
body #wrapper > div:nth-of-type(odd) {
  height: 250px;
}
body #wrapper > div p {
  margin-top: 16px;
  margin-bottom: 5px;
}
body #wrapper > div span {
  text-transform: uppercase;
}
body #wrapper > div a {
  text-decoration: none;
  color: #c72d2f;
  display: block;
}
body #wrapper > div hgroup {
  background-position: left bottom !important;
  padding-left: 40px;
  height: 40px;
  display: table-cell;
  vertical-align: bottom;
}
body #wrapper > div hgroup h3,
body #wrapper > div hgroup h2 {
  font-size: 1em;
}
